#maincontent         {background-color:#FFECEC; width:545px; padding:0px; border-right:1px solid #CC3333; border-left:1px solid #CC3333; border-bottom:1px solid #CC3333; z-index:-1; px; z-index:-1}

a.tab-85-selected {

  display: block;
  width: 85px; 
  height: 22px;
  background-image: url(../images/tab_blog-85-red.gif);
  background-repeat: no-repeat; 
  padding-top:3pt;
}

a.tab-85 {

  display: block;
  width: 85px; 
  height: 22px;
  background-image: url(../images/tab_blog-85-red-bg.gif);
  background-repeat: no-repeat;
  padding-top:3pt;
}

a.tab-85:hover {

  background-image: url(../images/tab_blog-85-red.gif);
}

a.tab-109-selected {

  display: block;
  width: 109px; 
  height: 22px;
  background-image: url(../images/tab_blog-109-red.gif);
  background-repeat: no-repeat; 
  vertical-align: bottom;
  padding-top:3pt;
}

a.tab-109 {

  display: block;
  width: 109px; 
  height: 22px;
  background-image: url(../images/tab_blog-109-red-bg.gif);
  background-repeat: no-repeat; 
  padding-top:3pt;
}

a.tab-109:hover {

  background-image: url(../images/tab_blog-109-red.gif);
}

a#tab-s       {font-weight: bold; text-align:center; color:#CC3333; text-decoration:none; font-size: 10pt;}
a:hover#tab-s {text-decoration:underline;}
a#tab         {font-weight: bold; text-align:center; color:#FFFFFF; text-decoration:none; font-size: 10pt; padding-bottom: 0px;}
a:hover#tab   {text-decoration:none; color:#CC3333;}

table#tablecontent td {width:300px; padding-bottom:20px;}
td.right       {text-align:right; padding-top:0px; padding-bottom:10px;}
td.date        {text-align:right; padding-top:15px; width:100px; color:#2D96D0;}
td.unavailable {padding-top:4px; padding-bottom:4px; color: gray; }
td.tab-border      {background-color:#CC3333;}
td.tab-noborder    {}

div.homedescription {text-align: justify; margin-bottom: 20px; }
div.story {text-align: justify;}
div.story td.right a    {color:#2D96D0; text-decoration:underline;}
div.story td.right a:hover  {color:#CC3333; text-decoration:none;}


.MyContentNote        {color:#CC3333;}
.MyContentHeadline    {font-size: 12pt;font-weight: bold;text-align: left; }
.MyContentText        {text-align: justify;}
.MyContentTextRight   {text-align: right;}
                  
#random       {margin:0px; padding:12px; border:1px solid #CC3333; border-collapse:collapse; background-color:#FFECEC;}

#photo img   {border:1px solid gray; padding:3px; background-color:#FFFFFF;}

#weather      {padding: 0px 0px 5px 0px; border:1px solid #CC3333; color:#666; background-color:#FFECEC; text-align:center; }

#navbg        {width:180px; color:#fff; margin:0px; padding:0px; padding-bottom:10px;}

#order        {color:#000; background-color: #FFF; padding: 10px; border:1px solid #CC3333}
         
.MyContentHeader {
  font-size: 20pt;
  font-weight: bold;
  color: #CC3333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MyContentBdr {

   border:1px solid #CC3333
 }
             
.MyContentSpecial {
  font-size: 11pt;
  color: white;
  text-align:center;
  background-color: #CC3333;
  padding-top: 1px;
  padding-bottom: 1px;
}     
             
.MyContentSpecialBgr {

  background-color: #CC3333;
  padding-top: 1px;
  padding-bottom: 1px;
}  

.MyContentBgr {white;text-align:center;background-color: #FFECEC; padding: 5pt; }     

.MyNaviBox {
  background-color:#EEEEEE;
  font-family: Verdana, "Times New Roman", Times, serif;
  font-size: 11px;
  font-weight: normal;
  color: #666666;
  border: 1px solid #999999;
}

#lateststory    {border:1px solid #CC3333; background-color:#FFECEC;}
ul#latest     {list-style: url(../images/list_arrow.gif); color:#000000; margin-top:5px; margin-bottom:5px; padding-left:20px; padding-right:4px; margin-left:4px; valign=center; }
ul#latest li  {text-decoration:none; margin-bottom:2px; }

#newsletter    {color:#666; padding:10px; border:1px solid #CC3333; background-color:#FFECEC; valign=center;}
#newsl_input    {width:120px;border:1px solid #666; font-size:11px;}

.specialoffer   {background:url(../images/specialoffer.gif) no-repeat; width:115px; height:56px; padding:10px; text-align:center;}
.specialoffer h1  {font-size: 11px; text-transform:uppercase; font-weight:bold; color:#F36420; margin:0px; padding:0px;}
.specialoffer p   {margin:0px; padding:0px;}
.storyphoto     {padding-left:25px;}
.navmain      {height:17px; padding-top:3px; background: url(../images/list_bg_blog-red.jpg); font-weight:bold;}
.navtop       {height:17px; padding-top:3px; background: url(../images/tab_blog_top-red.jpg); font-weight:bold;}
.story        {border-bottom:1px solid #88C1EE; padding-bottom:0px;}
.emailsubmit  {width:27px; height:18px; border:0px; position:relative; top:4px; right:0px; padding-left:5px;}
   
