#tabs       {text-align:center; position:relative; left:46px; background:url(../images/tab_greenbig.gif) no-repeat; width:492px; height:27px; color:#fff;}
#tabs a       {color:#fff; text-decoration:underline;}
#tabs a:hover   {color:#000;}
.search       {width:150px;border:1px solid #666; font-size:11px; }
.search2       {width:180px;border:1px solid #666; font-size:13px; color:#464646}
.submit       {border:0px;}

#searchbox  .submit   {width:27px; height:18px; border:0px; position:relative; top:4px; right:0px; padding-left:5px;}
#tabs .submit   {width:25px; height:19px; border:0px; position:relative; top:4px; right:0px; padding-left:5px;}
                            
#table h3     {font-size:14px; text-transform:uppercase; font-weight:bold; padding:0px; margin:0px;}
#table h2     {font-size:14px; text-transform:uppercase; font-weight:bold; padding:0px; margin:0px; border-top:1px solid #82BFEB; padding-top:5px;}
#table p      {font-size:12px; padding:0px; margin:0px; padding-bottom:5px;}
#table img      {clear:both; float:left; margin-right:2px;}
#tablewhite1 p      {font-size:12px; color:#ffffff; padding:0px; margin:0px; padding-left:20px; padding-right:100px; padding-top:120px; padding-bottom:0px;}
#tablewhite1 a        {color:#ffffff; text-decoration: none;}
#tablewhite1 a:hover  {color:#ffffff; text-decoration: none;}  
#tablewhite1 a:visted {color:#ffffff; text-decoration: none;}  
#tablewhite2 p      {font-size:12px; color:#ffffff; padding:0px; margin:0px; padding-left:20px; padding-right:20px; padding-top:60px; padding-bottom:10px;}
#tablewhite2 a        {color:#ffffff; text-decoration: none;}
#tablewhite2 a:hover  {color:#ffffff; text-decoration: none;}  
#tablewhite2 a:visted {color:#ffffff; text-decoration: none;} 

.tabhome      {background:url(../images/tab_greenhome.gif) no-repeat; height:26px; width:243px; color:#fff; font-size:15px; text-transform:uppercase; font-weight:bold; text-align:center;}
.tabhome h1     {color:#fff; font-size:15px; text-transform:uppercase; font-weight:bold; text-align:center; padding:0px; margin:0px; padding-top:5px;}

.tabregister   {background:url(../images/tab_greenregister.jpg) no-repeat; height:26px; width:316px; color:#fff; font-size:15px; text-transform:uppercase; font-weight:bold; text-align:center;}
.tabregister h1     {color:#fff; font-size:15px; text-transform:uppercase; font-weight:bold; text-align:center; padding:0px; margin:0px; padding-top:5px;}

.content-top   {background:url(../images/content-top-green.jpg) no-repeat; height:11px; width:750px; }
td.content-side  {background-color: #639824 }

.boxregister  {border:1px solid #1F5800; width:300px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxupgrade  {border:1px solid #1F5800; width:300px; height:95px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxcheckorder  {border:1px solid #1F5800; width:300px; height:60px; float:left; padding:7px; color:#000; overflow-y: hidden;}

.boxhome         {border:1px solid #1F5800; width:227px; height:254px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxhome h2      {color:#F98828; padding:0px; margin:0px; font-size:14px; font-weight:bold;}
.boxhome p       {color:#464646; padding:0px; margin:0px; line-height:1.4em; padding-bottom:5px; }

.boxhomemain      {border:1px solid #1F5800; width:227px; height:254px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxhomemain h2   {color:#F98828; padding:0px; margin:0px; font-size:14px; font-weight:bold;}
.boxhomemain p    {color:#464646; padding:0px; margin:0px; line-height:1.4em; padding-bottom:5px; }
      
.boxhometop      {border:1px solid #1F5800; width:227px; height:80px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxhometop h2   {color:#F98828; padding:0px; margin:0px; font-size:14px; font-weight:bold;}
.boxhometop p    {color:#464646; padding:0px; margin:0px; line-height:1.4em; padding-bottom:5px; }
       
.boxhomebottom      {border:1px solid #1F5800; width:227px; height:126px; float:left; padding:7px; color:#000; overflow-y: hidden;}
.boxhomebottom h2   {color:#F98828; padding:0px; margin:0px; font-size:14px; font-weight:bold;}
.boxhomebottom p    {color:#464646; padding:0px; margin:0px; line-height:1.4em; padding-bottom:5px; }
       
.readmore {border-bottom:1px dotted #000; text-align: right;}
.readnews {text-align: right;}
.boxhomedesc {height:121px; overflow-y: hidden; }

#photo img   {border:1px solid #1F5800; padding:3px; background-color:#FFFFFF;}

.outline      {border:1px solid #1F5800; float:left; margin-right:5px; margin-top:5px;}
.border       { display:inline; padding:3px;}

.corporate td {padding:7px;}
                           
.GJContentHeader {color:#F98828; padding:0px; font-size:12px; margin:0px; font-size:14px; font-weight:bold;}
.GJContentText   {color:#464646; padding:0px; font-size:12px; margin:0px; line-height:1.4em; padding-bottom:5px; text-align:justify; }

.SearchImage {white;text-align:center;background-color: #FFFFFF; padding: 5pt; }    
