body        {background:url(../images/bg.gif) center repeat-y;font-size: 11px; font-family: Arial, FreeSans, Garuda, SunSans-Regular, Sans-Serif; color:#00275E; padding:0px; margin:0px;}
form        {padding:0px; margin:0px;}
h1          {font-size:20px; color:#F36621;}
input       {font-size: 12px; font-family: Arial, FreeSans, SunSans-Regular, Sans-Serif; font-weight:normal;} 
h2          {font-size:20px; font-weight:normal; padding: 5px 10px; margin:0px;}
h3          {font-size:11px; font-weight:bold; margin:0px; padding:0px; display:block;}
img         {border:0px;}
p           {line-height:1.2em; }                       
td          {font-size: 11px; font-family: Arial, FreeSans, SunSans-Regular, Sans-Serif; color:#666; }
li          {color:#666;}
ul          {color:#666;}

#footer          {clear:both; padding-bottom:3px; text-align:center;}
#footer a        {color:#1F5800; text-decoration: underline; line-height:1.4em;}
#footer a:hover  {color:#F36621;}  
#footer a:visted {color:#1F5800;}  

#login        {width:330px; height:40px; background:url(../images/bg_greenlogin.gif) no-repeat 10px 0; padding-top:7px; padding-right:10px; font-weight:bold; font-size:12px;}
#login input    {font-size:11px; padding-right:0px}
#loggedin        {width:330px; height:40px; background:url(../images/bg_greenlogin.gif) no-repeat 10px 0; padding-right:10px; font-size:12px;}
#loggedin a        {color:#1F5800; text-decoration: underline; line-height:1.4em; font-weight:normal; }
#loggedin a:hover  {color:#F36621;}  
#loggedin a:visted {color:#1F5800;} 